* {
    padding: 0px;
    margin: 0px;
    font-family: century;
}

body {
    background-color: #ededed;
}

form {
    width: 700px;
    margin: auto;
    background-color: #fff;
}

input {
    margin: 15px;
    padding: 10px;
    width: 640px;
    font-size: 10px;
}

textarea {
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    width: 660px;
}